body {
	font-family: 'Roboto', sans-serif;
  text-align: center;
  font-size: 12px;
}

.input-group {
  margin: 25px;
}

.recharts-wrapper {
  margin: 0 auto;
}


.video-player-div {
    position: relative;
    padding: 1em 1em 1em;
    border: 1px solid #d8d8d8;
    box-sizing: inherit;
    width: 60%;
    margin: auto;
    background-color: black;
}

.video-react .video-react-big-play-button {
  margin-top: -50px;
}

.vidButton {
  float: right;
}

h5 {
    color: white;
}

.material-icons {
  cursor: pointer;
}

.FinancialWrapper {
  margin: 30px;

}

#welcome {
  color: #DD2C00;
  padding: 20px;
  width:100%;
}


#savedMoviesWarpper {
  height: 100%;
}

#Settings {
  width: 100%;
  padding: 20px;
}


.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }


.material-icons.red { color: #00B8D4; }
